@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

*{
   box-sizing: border-box;
}

html,body,h3,h2{
   margin: 0;
   padding: 0;
}

a{
   color: #000000;
   text-decoration: none;
}

body {
   background-image: url('../img/bg-pattern.png');
   font-family: 'Alata', sans-serif;
   font-size: 18px;
   min-height: 100vh;
}

.wrapper-spinner {
   position: absolute;
   background-color: rgba(47, 66, 82, 0.5);
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

 .nk-spinner {
   position: relative;
   box-sizing: border-box;
   width: 90px;
   height: 90px;
   text-indent: -9999em;
   border: 6px solid rgba(255, 255, 255, 0.3);
   border-left: 6px solid #fff;
   border-radius: 50%;
   animation: nk-spinner 0.5s infinite linear;
 }
 
 @keyframes nk-spinner {
   100% {
     transform: rotate(360deg);
   }
 }

.header{
   background-color:#ff1654;
   display: flex;
   justify-content: space-between;
   padding: 0.5em;
   height: 100px;
}

.logo{
   border-radius: 50px;
   width: 6vw;
}

.header__nav{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 450px;
}

.nav__links {
   display: flex;
   justify-content: space-between;
   width: 250px;
}

.hero_msj__text{
   text-align: center;
   font-size: 2em;
   font-style: italic;
   color:#fff;
   margin: 1em ;
}

.chart_title{
   color: #fff;
}

.search__input{
   outline: none;
   height: 50px;
   width: 50vw;
   font-size: 1em;
   padding: 0px 20px;
   border-radius: 30px;
   border: 2px solid white;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.search__input::placeholder{
   font-style: italic;
}

.search__submit{
   outline: none;
   height: 100px;
   width: 100px;
   margin-left: -40px;
   border-radius: 50%;
   font-weight: bold;
   border: none;
   background-color: #99ff99;
   cursor: pointer;
}

.charts{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap:1em;
   padding: 1em;
}
.charts article{
   text-align: center;
}

.charts a{
   color:inherit;
   text-decoration: none;
   word-break: break-all;
}

.chart_title{
   color: #fff;
}

.top_tracks__details{
   display: grid;
   grid-template-columns: auto auto;
   justify-content: space-between;
   align-items: center;
   gap:16px;
   padding: 8px 15px;
   margin: 16px;
   border: 1px solid #bb002f;
   border-radius: 5px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   background-color: #f50057;
}
.charts__poster{
   width: 50px;
   border-radius: 5px;
}

.search{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 3em;
}

.footer{
   display: grid;
   grid-template-columns: 1fr auto 1fr;
}

.uk-width-4-5 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* DETAILS */
.hero_details{
   display: grid;
   grid-template-columns: 450px 440px;
   grid-template-rows: calc(100vh - 208px);
   justify-content: space-between;
   margin: 0 14vw;
   padding: 10px;
   border-radius: 5px;
   background-image: url('../img/double-bubble-dark.png');
}

.hero_details__image{
   padding: 1em;
   background-color: #fff;
}

.image_poster{
   width: 100%;
   height: 100%;
   object-fit: fill;
   border-radius: 10%;

}

.hero_details__description{
   padding: 1em;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr;
   gap: 1em;
   overflow: auto;
   background-color: #fff;
}

.details_header{
   display: grid;
   grid-template-columns: 1fr auto auto;
}

.artist_top{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: start;
}

.artist_top h3{
   align-self: stretch;
   padding: 5px;
   border-radius: 5px;
   background-image: linear-gradient(to right, #ffffff, #d0cde9, #9e9dd4, #6771bf, #0849aa);
}

.fans{
   width: 20px;
   border-radius: 50%;
   margin-top: 3px;
   margin-right: 5px;
}

.track_header{
   display: flex;
   justify-content: space-evenly;
}

.track_info{
   display: flex;
   justify-content: space-evenly;
   align-items: baseline;
   flex-direction: column;
}

.track-info__bag--bg{
   background-color: #00A591;
   margin: 5px;
   padding: 5px;
   border-radius: 5px;
}

.star-track{
   transition: 0.5s all;
   cursor: pointer;
   background-color: indianred;
   padding: 5px;
   border-radius: 5px;
   border: 1px solid salmon;
}

.star-track:hover{
   background-color: orange;
   border: 1px solid greenyellow;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.album_info{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

/* GENRES */
   .genres_container{
      height: 200vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-top: 1px solid #f50057;
}

.genre{
   margin: 1em;
}

/* RESULTS */
.results_container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

/* PLAYLIST */

.playlist{
   width: 50vw;
   height: 50vh;
   background-color: #f50057;
   margin: auto;
   border-radius: 5px;
   text-align: center;
   padding-top: 1em;
   position: relative;
}

.playlist__tracks{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.playlist img{
   position: absolute;
   right: -110px;
   width: 220px;
}